{% extends "base.html" %}
{% block content %}

<section class="blog section" id="blog">
    <h2 class="section-title">Posts</h2>

    <div class="blog_wrapper">
        {% for post in post_list %}
        <div class="blog_card">
            <h3 class="blog_card_title">{{ post.title }}</h3>
            <p class="blog_card_details">{{ post.author }} | {{ post.created_on}}</p>
            <p class="blog_card_content">{{post.content|escape|slice:":200" }}</p>
            <div class="readmore_container">
                <a href="{% url 'post_detail' post.slug  %}">
                    <button class="blog_card_btn">READ MORE</button>
                </a>
            </div>
            
        </div>
        {% endfor %}
    </div>
    {% if is_paginated %}
        <div class="blog_pagination">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
            {% else %}
                <a>&laquo;</a>
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <a href="#" class="active">{{ i }} </a>
                {% else %}
                    <a href="?page={{ i }}">{{ i }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
            {% else %}
                <a>Next</a>
            {% endif %}
        </div>
    {% endif %}
</section>
{%endblock%}

<script>
    var activePage = "{{ activePage }}";
</script>
